.about-content {
    padding-top: 50px;
    margin-left: 230px;
}

.about-content p {
    padding-right: 200px;
    line-height: 1.2rem;
}

@media (max-width: 1024px) {
    .about-content {
        padding-top: 50px;
        margin-left: 0;
    }
    .about-content h2 {
        // text-align: center;
        padding: 0 30px;
    }
    .about-content p {
        padding: 0 30px;
    }
}

@media (max-width: 576px) {

}