.contact-container {
    display: flex;
}

.contact-content {
    padding-top: 50px;
    margin-left: 230px;
}

.contact-content a {
    font-size: 0.9rem;
    cursor: pointer;
}

.contact-item {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .contact-content {
        padding-top: 50px;
        margin-left: 0;
    }
}

@media (max-width: 576px) {

}