@media (max-width: 1024px) {
    // NAV
    .hamburger {
        display: block;
    }
    .big-nav {
        display: none;
    }

    .nav-title-mobile {
        display: block;
    }

    .mobile-header {
        display: block;
    }
}

@media (max-width: 576px) {
    .wrapper {
        padding: 30px 30px;
    }

    // .hamburger {
    //     right: -8px;
    // }

    // #menu {
    //     right: -12px;
    // }
}