.writing-content {
    padding-top: 50px;
    margin-left: 230px;
}

.writing-content h2 {
    font-weight: 400;
}

.writing-content a {
    text-decoration: underline;
}

.writing-content .title {
    font-weight: bold;
}